<p id="notice"><%= notice %></p>

<h2>
  <%= @institution.name %>
</h2>

<p>
  <b>Address:</b>
  <%= @institution.address %>, <%= @institution.city %>, <%= @institution.state %>, <%= @institution.zip %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
