<%= simple_form_for @program do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :institution_name %><br />
    <%= collection_select :program, :institution_id, Institution.all, :id, :name, prompt: true%>
  </div>
  <div class="field">
    <%= f.label :graduating_salary %><br />
    <%= f.text_field :graduating_salary %>
  </div>
	<div class=field>
		<p>
	  <% for tag in Tag.all %>
	    <%= check_box_tag "program[tag_ids][]", tag.id, @program.tags.include?(tag) %>
			<%= hidden_field_tag "program[tag_ids][]", nil%>
	    <%= tag.name %>
	  <% end  %>
	</p>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
