<!-- 
<h1> Search Result </h1>
<table class="table">
<tr>
	<th>
		Program Name
	</th>
</tr>
	<% @programObj.each do |program| %>
	<tr>
	<td>
		<%= program %>
	</td>
	</tr>
	<% end %>
</ul>
</table> -->

<h1>Search Results</h1>  
<table class="table">
  <tr>
    <th>Name</th>
<!--     <th>Institution</th> -->
    <th>Graduating salary</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>



<% @programObj.each do |program| %>
  <tr>
  	<td><%= link_to program.name, program, :class => 'program_link' %> <%= link_to program.institution.name, program.institution, :id => 'program_institution_link' %></td>
    <td>$<%= number_with_delimiter(program.graduating_salary, :delimiter => ',') %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>


<% if @searchEmpty  %>

	<h3 style= "color:grey;">Sorry, No Results Found.</h3> 
<% end %>

<% if can? :create, Program %>
	<%= link_to 'New Program', new_program_path %> | 

<% end %>
<%= link_to 'Back to Search', root_url %>