<p id="notice"><%= notice %></p>

<h2>
  <%= @program.name %>
</h2>

<div class="program_institution_name">
	<%= link_to @institution.name, institution_path(@institution) %>
</div>
<div class="program_metrics clearfix">
	<ul class="program_general_stats">
		<li>2013 Program Tuition: <span>$56,000</span></li>
		<li><b>Graduating salary: </b>
		  <span>$<%= number_with_delimiter(@program.graduating_salary, :delimiter => ',') %></span></li>
		<li>Selectivity:  <span>Very Selective</span> </li>
		<li>Student : Faculty Ratio  <span>10 : 1</span></li>
	</ul>
	<ul class="program_rating_stats">
		<li>2013 Overall Rating <span>*****</span></li>
		<li>Personal Value
		  <span>*****</span></li>
		<li>Academics <span>*****</span> </li>
		<li>Jobs &amp; Internships <span>*****</span></li>
	</ul>
</div>
<% if logged_in? %>
	<div>
		<h3>Reviews</h3>
		<%= link_to 'Review this program', new_review_path %>
		<br />
	</div>
<% end %>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
