<h1>
  <%= @program.name %>
</h1>

<div class="program_institution_name">
	<%= link_to @institution.name, institution_path(@institution) %>
</div>
<div class="program_tags">
	<div id="tag_label">
		Tags:
	</div>
	<% for tag in @program.tfivetags%>
		<% if @program.tfivetags.length == 0%>
			<%= None%>
		<% else%>
			<ul class="tag_style">
				<li><%= tag.name%></li>
			  <li><%= link_to "", vote_tag_path(tag, type: "up"), method: "post", :class=>"fa fa-thumbs-up" %></li>
			  <%= pluralize tag.reputation_for(:votes).to_i, "votes" %>
			</ul>
		<%end%>
	<%end%>
</div>
<div class="program_metrics clearfix">
	<ul class="program_general_stats">
		<li>2013 Program Tuition: <div>$56,000</div></li>
		<li><b>Graduating salary: </b>
		  <div>$<%= number_with_delimiter(@program.graduating_salary, :delimiter => ',') %></div></li>
		<li>Selectivity:  <div>Very Selective</div> </li>
		<li>Student : Faculty Ratio  <div>10 : 1</div></li>
	</ul>
	<ul class="program_rating_stats">
		<li><span id="overall_rating">Overall Rating</span>
			<div class="star_rating_yellow">
				<%= rating_for @program, "overall_value" %>
			</div>
		</li>
		<li>Personal Value
		  <div class="star_rating_red">
		  	<%= rating_for @program, "personal_value" %>
		  </div>
		</li>
		<li>Academics 
			<div class="star_rating_blue">
				<%= rating_for @program, "academics" %>
			</div> 
		</li>
		<li>Jobs &amp; Internships 
			<div class="star_rating_green">
				<%= rating_for @program, "jobs" %>
			</div>
		</li>
	</ul>
</div>

<div class="program_gallery">
	<img src="../assets/cmu.png" alt="Program photo"/>
	<!-- All standby_images are in one line to remove the implicit white space between inline elements -->
	<img class="standby_images"src="../assets/cmu-word.jpeg" alt="Program photo"/><img class="standby_images"src="../assets/cmu-word.jpeg" alt="Program photo"/><img class="standby_images"src="../assets/cmu-word.jpeg" alt="Program photo"/><img class="standby_images"src="../assets/cmu-word.jpeg" alt="Program photo"/>
</div>
<div> <%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
</div>

<% if logged_in? %>
		<h2>Reviews</h2>
		<div class="program_review_container clearfix">
			<% for review in @reviews %>
				<div class="program_review">
					<%= review.text%>
					<%= review.rating%>
				</div>
			<% end %>
		</div>

		<%= link_to 'Review this program', new_review_path %>
		<br />
<% end %>

