
 <div class="navbar">
  <div class="navbar-inner" id="navbar_style_adj">
    <%= link_to "SmartPaths", root_url, {:class => "brand"} %>
	  <ul class="nav pull-right" id="navbar_links">
			<% if current_user %>
				<li><%= link_to current_user.email, user_path(current_user) %></li>
				<li><%= link_to "Logout", log_out_path %></li>
			<% else %>
				<li><%= link_to "Sign Up", sign_up_path %></li>
				<li><%= link_to "Login", log_in_path %></li>
			<% end %>
	  	</ul>

		<ul class="nav pull-left main_pages_links" id="navbar_links">
			<% if current_user %>
				<li><%= link_to "Programs", my_programs_path %></li>
				<li><%= link_to "Institutions", my_institutions_path %></li>
				<li><%= link_to "Tags", my_tags_path %></li>
			<% end %>
	  </ul>
	</div>
</div>
