<%= form_for(@user_program) do |f| %>
  <% if @user_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_program.errors.count, "error") %> prohibited this user_program from being saved:</h2>

      <ul>
      <% @user_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :graduating_year %><br />
    <%= f.text_field :graduating_year %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.text_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
