<%= form_for(@program_tag) do |f| %>
  <% if @program_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_tag.errors.count, "error") %> prohibited this program_tag from being saved:</h2>

      <ul>
      <% @program_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.text_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
