<!DOCTYPE html>
<html>
<head>
  <title>Smartpaths</title>
	<link href='http://fonts.googleapis.com/css?family=Lato|Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="main_background">
	  <div class="wrapper">
			<%= render :partial => 'partials/header'%>
		 	<div class="container search_background">
		  	<div class="row">
		  		<div class="span12">
		 				<%= yield %>
		 			</div>
		 		</div>
		 		<div class="push"></div>
		 	</div>
		 	<section class="info">
		 		<div class="container">
		 			<div class="row">
				 		<div class="home_info span4">
				 			<img src="../../assets/classroom1.jpg"/>
				 			<h3> Search for Programs </h3>
				 			<p> Students looking to apply for post-secondary education mostly have a general idea of what kind of field they are interested in and skills they are looking to aciqure. We think it is more helpful to find the specific programs matching a person's interested skills. 
				 			</p>
				 		</div>
				 		<div class="home_info span4">
				 			<img src="../../assets/classroom2.png"/>
				 			<h3> Connect With Graduates </h3>
				 			<p> Users get the opportunity to connect with alumni who have graduated from specific programs users might be interested in. Get the opportunity to network with these graduates, ask them questions, or even ask them about their experience with the program.
				 			</p>
				 		</div>
				 		<div class="home_info span4">
				 			<img src="../../assets/classroom.jpg"/>
				 			<h3> Write Reviews </h3>
				 			<p> Current students, prospective students, and alumni among other users get the opportunity to write reviews about programs they’ve graduated from or have heard about. The reviews are crowd sourced and provide a platform for multiple perspectives on a program. 
				 			</p>
				 		</div>
				 	</div>
			 	</div>
		 	</section>
	 </div>
		<%= render :partial => 'partials/footer'%>
</body>
</html>
